td {
    vertical-align:middle;
    text-align:center;
    padding-left: 0px;
    margin: 0px;
}
Table {
    width: "600px";
    margin: "0px";
}

#Table2 {
    width: 100%;
    border: 1px solid black;
}

Button {
    width: 100%;
    margin-bottom: 5%;
}