.border-right {
  border-left: solid !important;
  border-width: 1px !important;
  border-color: grey !important;
}

@media (max-width: 768px) {
  .border-right {
    border-left: none !important;
    border-width: 2px !important;
  }
}
