.border-left {
  border-left: solid !important;
  border-width: 1px !important;
  border-color: #eceeef !important;
}

@media (max-width: 768px) {
  .border-left {
    border-left: none !important;
  }
}
